
<!DOCTYPE html>
<html lang="he" dir="rtl">

<h1>ההזמנה שלך:</h1>

<head>
    <meta charset="UTF-8">
    <title>סיפרייה</title>
	<style>
		table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
    	}
    	th, td {
        border: 1px solid #333;
        padding: 12px;
        text-align: right;
    	}
		h1 {
			text-align: center;
		}
		pre {
			font-size: 16px;
		}
	</style>    
</head>
<body>
	<form method="POST" action="{{ url_for('place_order') }}">
			<table>
				<tbody>
					<tr>
						<td>סוג</td><td>שם</td><td>מחיר ליחידה</td><td>כמות הזמנה</td><td>מחיר כולל</td>
					</tr>          
                    {% for i in range(book_types|length) %}
                     <tr>
                        <td>{{book_types[i]}}</td><td>{{book_names[i]}}</td>
                        <td>{{book_prices[i]}}</td><td>{{quantities[i]}}</td>
                        <td>{{total_prices[i]}}</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>form
            			<table>
				<tbody>
					<tr>
						<td>תשלום סופי:</td><td>{{total}}</td>
					</tr>          
				</tbody>
			</table>
			<h1>ההזמנה מוכנה!</h1>
		<button type="submit" name="confirm_action" value="true">אשר הזמנה וסיים</button>
	</form>
</body>



<ul>
    <li><a href="{{ url_for('home') }}">חזרה לדף ראשי</a></li>
	<li><a href="{{ url_for('order_page') }}">חזרה להזמנת ספרים</a></li>
    <li><a href="{{ url_for('stock_view') }}">צפייה במלאי הספרים</a></li>
</ul>

</html>
