<form method="POST" action="{{ url_for('place_order') }}">
TODO action1 - order to stock - action2 replace order in file
display orders from file
<!DOCTYPE html>
<html lang="he" dir="rtl">

<h1>ההזמנה שלך:</h1>

<head>
    <meta charset="UTF-8">
    <title>סיפרייה</title>
	<style>
		table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
    	}
    	th, td {
        border: 1px solid #333;
        padding: 12px;
        text-align: right;
    	}
		h1 {
			text-align: center;
		}
		pre {
			font-size: 16px;
		}
	</style>    
</head>
<body>
			<table>
				<tbody>
					<tr>
						<td>סוג</td><td>שם</td><td>מחיר ליחידה</td><td>כמות הזמנה</td><td>מחיר כולל</td>
					</tr>          
                    {% for i in range(book_types|length) %}
                     <tr>
                        <td>{{book_types[i]}}</td><td>{{book_names[i]}}</td>
                        <td>{{book_prices[i]}}</td><td>{{quantities[i]}}</td>
                        <td>{{total_prices[i]}}</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
            			<table>
				<tbody>
					<tr>
						<td>תשלום סופי:</td><td>{{total}}</td>
					</tr>          
				</tbody>
			</table>
</body>

<h1>ההזמנה למלאי מוכנה!</h1>
	<button type="submit">אשר הזמנה וסיים</button>
<ul>
    <li><a href="{{ url_for('home') }}">חזרה לדף ראשי</a></li>
</ul>

</html>
</form>