<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>סיפרייה</title>
	<style>
		table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
    	}
    	th, td {
        border: 1px solid #333;
        padding: 2px;
        text-align: right;
    	}
		h1 {
			text-align: center;
		}
		p {
			font-size: 32px;
		}
		pre {
			font-size: 30px;
		}
		td {
			font-size: 25px;
		}
		button {
			font-size: 40px;
		}
	</style>    
</head>
<body>
    <h1>הזמנת ספרים:</h1>   

    <form method="POST" action="{{ url_for('place_order') }}">
	{% for myBookType in items %} 
			<p>{{myBookType.book_type}}</p>
			<table>
				<tbody>
					<tr>
						<pre><td>שם</td><td>מחיר</td><td>כמות במלאי</td><td>כמות להזמנה:</td></pre>
					</tr>
					{% for book in myBookType.books %}
					<input type="hidden" name="book_types[]" value="{{ myBookType.book_type }}">
						<tr>
							<td>{{book.name}}</td>
							<td>{{book.price}}</td>
							<td>{{book.stock_quantity}}</td>
							<td>
							<label for="quantity"></label>
								<input type="number" 
									id="quantity" 
									name="quantities[]" 
									value="0"
									min="0" 
									max={{book.stock_quantity}}
									required>
								
								<input type="hidden" name="book_names[]" value="{{ book.name }}">
								<input type="hidden" name="book_prices[]" value="{{ book.price }}">
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}

	<div style="text-align: center;">
    <button type="submit">עבור להזמנה</button>
	</div>
    </form>

    <ul>
        <li><a href="{{ url_for('home') }}">חזרה לדף ראשי</a></li>
    </ul>
</body>

</html>

